# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle


# Keystore files - NEVER commit these!
android/app/release.keystore
android/app/debug.keystore
android/keystore.properties
*.keystore
*.jks
*.p12